body{
    margin: 0;
    padding: 0;
    
}

/*empieza los atributos del Login*/
.general{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 10rem;
    margin-left: 5%;
    width: 90%;
    max-height: 90%;
}

.container_login{
    display: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 30%;
    height: 90%;
    background-color: rgb(4, 179, 179);
    padding: 2rem;
    border-style:outset;
    box-shadow: ;
}

/* h1 "LOGIN" */
.lg {
    position:relative;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    color:darkorchid;
    font-size: 30px;
    font-family: 'Lucida Grande', sans-serif;
}
 /* Usuario y Password (Letrero) */
.u_label {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 18px;
    font-family: 'Lucida Grande', sans-serif;
    color:chartreuse;
    padding: 3rem;
    margin-bottom: 2rem;
    align-items: flex-start;
}

/* atributos de la letra cuando teclea el usuario su "usuario" */
.usuario {
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    background-color:whitesmoke;
    font-size: 14px;
    font-family: 'Lucida Grande', sans-serif;
    border-radius: .5rem;
    margin-left: 20px;
}

/* atributos de la letra cuando teclea el usuario su "password" */
.clave {
    position: relative;
    flex-direction: row;
    flex-wrap:nowrap;
    text-align: left;
    background-color:whitesmoke;
    font-size: 14px;
    font-family: 'Lucida Grande', sans-serif;
    border-radius: .5rem;
    margin-left: 1px;

}

.boton_lg {
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color:black;
    font-family: 'Lucida Grande', sans-serif;
    background-color:lawngreen;
    border-radius: 1rem;
    gap: 15rem;
}

.boton_lg:hover{
    transform: scale(1.1);
    cursor: pointer;
}
 
/*empieza el Banco en Linea*/
.contenedor-general{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contenedor-header{
    background-color: rgb(4, 179, 179);
    margin: 10px;
    padding: 10px;
}

.h2head {
    font-family:'Lucida Sans', Geneva, Verdana, sans-serif;
    margin-bottom: 2 rem;
    color:chartreuse;
}

.container123 {
    display: flex;
    align-content: center;
    justify-items: center;
    text-align: center;
}


.containerA1{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    margin: 2rem;
    padding: 1rem;
    background-color: lightblue;
    width: 30%;
    height: 100%;
}

.action1 {
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border-style: groove;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    background-color:darkseagreen;
    margin: 1rem;
    padding: .5rem;
}


.containerA2{
    position:relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    padding: 1rem;
    margin: 2rem;;
    background-color: burlywood;
    width: 30%;
    height: 100%;
}

.action2 {
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border-style: groove;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    background-color:darkorange;
    margin: 1rem;
    padding: .5rem;
}

.containerA3{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
    padding: 1rem;
    margin: 2rem;
    background-color: lavender;
    width: 30%;
    height: 100%;
}

.action3 {
    position: relative;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border-style: groove;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    background-color:darkorchid;
    margin: 1rem;
    padding: .5rem;
}